body {
  background: url('photo-backgroung.avif');
  background-size: cover;
  background-repeat: no-repeat;

}

.App {
  text-align: center;
  height: 100%;
}

nav {
  background-color: #26929a;
  display: flex;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  padding: 30px;
  
}

.link{
  text-decoration: none;
  font-weight: bolder;
  color: black;
}

p {
  display: flex;
  justify-content: center;
  text-wrap: wrap;
}
h1,h2,h3,h4, .headder  {
  display: flex;
  justify-content: center;

}

.button-box {
  display: flex;
  justify-content: center;
}

.buttonRead {
  padding: 20px;
  margin: 20px;
  font-weight: bolder;
  color: black;
  border-radius:  50px;
  background-color: #99b0b5;
}


.seeRecepieButton {
  background-color: transparent;
  border: none;
  margin-top: auto;
}

.search {
  text-align: center;
  margin-top: 20px;
}

input {
  padding: 10px;
  width: 500px;
}

.mallorca {
  width: 800px;
  height: 600px;
}

.slide-box {
display: flex;
justify-content: center;
margin-bottom: 40px;
}
.btn {
  background-color: transparent;
  border: none;
  font-size: 20px;

}

text {
  display: flex;
  justify-content: center;
}

.description{
  line-height: 1.6;
  text-align: justify;
  font-size: 16px;
  margin-bottom: 10px;
  margin-left: 50px;
  margin-right: 50px;
}
.footer {
background-color: #26929a;
display: flex;
justify-content: end;
padding: 10px;
}


.content {
  flex: 1;
}

ul {
  list-style: none;
}

.likeUs {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  padding: 60px;
}

